---
title: The Sixth week
layout: default
hasSlides: true
today:
  assorted:
    - Attendance
    - Final projects
    - Unpaid internships
    - Being a test subject
  review:
    - Using screenreaders
    - Where are you at?
  theory:
    - UAT vs Usability
    - Mobile accessibility
    - Accessible content
  praxis:
  	- Being a test participant
---
<% const part = '../../../partials/'; %>
<% const basePath = site.basePath %>
<%- include(`${part}today`) %>
<%- include(`${part}attendance`) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Your final',
  body: [`Your final project is a usability study, presented during the final lab. Your presentation should run 5-8 minutes. You will be required to present the findings of your test in person.`, `A slide presentation is acceptable, as is a longform document. Either way though, your report needs to present what you did, why you did it, what the results are, and what your recommendations are based on those results. You must also include all the data that backs up your conclusions (although you don't necessarily need to talk through every single data point, as that would be pretty boring).`],
  list: false
}) %>

<%- include(`${part}final-rubric`) %>

<%- include(`${part}section`, {
  id: false,
  style: "slide-only",
  headline: '11:30',
  list: false,
  body: ["At 11:30 today we'll be helping to test the usability of the Humber Career Outlooks web app. Approach it as a participant, but while you're taking part, reflect on their methodology. We'll get to talk about what we thought about <em>their</em> testing in the lab. Would you have taken the same approach? Does this change how you'll interact with your test participants?"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: "slide-only",
  headline: 'Unpaid internships',
  list: false,
  body: ["https://www.labour.gov.on.ca/english/es/pubs/internships.php", "<blockquote><p>The Ministry of Labour is committed to ensuring fairness and protecting young workers. The fact that you are called an “intern” does not determine whether or not you are entitled to the protections of the Employment Standards Act, 2000 (ESA), including the minimum wage.</p><p>...The ESA does not apply to an individual who performs work <strong>under a program</strong> approved by a college of applied arts and technology or a university.</p><p>...If someone performing work as an unpaid intern is unsure of whether he or she is excluded from the ESA, he or she should call the Employment Standards Information Centre toll-free at 1-800-531-5551 for further information.</p>"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: "slide-only",
  headline: 'Reading without peeking',
  list: false,
  body: "How was it using a screenreader?"
}) %>
<%- include(`${part}section`, {
  id: false,
  style: "slide-only",
  headline: 'Where are you at?',
  list: false,
  body: ["How do you feel about the testing so far?", "Are you confident that you'll be able to draw meaningful conclusions about the data?", "Did anything surprise you?", "What would you like to change going forward?", "What's difficult?", "What's easy?", "What's fun?", "What's not?"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Differentiating UAT & Usability testing',
  list: false,
  body: ["UAT and usability testing are both kinds of testing. As are regression testing, unit testing and integration testing. Tests have plans, requirements and scenarios."]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: false,
  list: false,
  body: ["<table><thead><tr><td>Usability</td><td>UAT</td></tr></thead><tbody><tr><td>Meant to determine whether users can learn, understand and use the product efficiently to achieve theirgoals.</td><td>Meant to determine whether the client is satisfied that the product meets their requirements.</td></tr><tr><td>Can happen before or during development, before or after launch.</td><td>Happens after development, but before launch.</td></tr> <tr><td>Tests whether users can achieve the result they want.</td><td>Tests whether the product produces the expected result.</td></tr> <tr><td>Meant to generate continuous improvements.</td><td>Meant to achieve final sign-off.</td></tr> <tr><td>Run by the software team.</td><td>Run by the client.</td></tr></tbody></table>"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: "slide-only",
  headline: 'OH NO POP QUIZ',
  list: false,
  body: ["Please go to <a href='http://etc.ch/Yfga' target='_blank'>the quiz</a>"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Mobile accessibility',
  list: false,
  body: ["The WCAG has <a href='https://www.w3.org/TR/IMPLEMENTING-UAAG20/mobile' target='_blank'>multiple documents</a> on <a href='https://www.w3.org/TR/mobile-accessibility-mapping/'>how accessibility standards translate to mobile</a>.", "It's mostly along the lines of 'don't try to cram your whole desktop site onto mobile', and 'just make sure that you're doing what you do on desktop', but with a few extra cautions."]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: false,
  list: ["Take special pains to test resizing up to 200%.", "You definitely still have to have keyboard-only controls", "Touch targets are at least 9mm x 9mm, with adequate space between them (without magnification)", "Use mouseup or touchend events so that users can change their minds"],
  body: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: false,
  list: ["Gestures should be kept simple, and have alternatives", "Support either orientation", "Put important elements above the fold", "Provide easily discoverable instructions", "Set the keyboard to the type of data entry required", "No scrolljacking", "Show focus"],
  body: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "Accessible content - page titles",
  list: false,
  body: ["Page title should be unique and descriptive. If it's page 2 of 3, say so."]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "Accessible content - headings",
  list: false,
  body: ["Headings should structure your document. Think of the way your information is structured - it's very rarely appropriate to have just an h1 and then p tags all the way down. Headings should provide meaning and context."]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "Accessible content - alt text",
  list: false,
  body: "Alternative text should be your best effort to convey <em>all</em> of the relevant information in the image - no more, no less. This gets tricky when you get into things like graphs. Think of how WebAIM approached it in our reading this week."
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "Accessible content - transcripts and captions",
  list: false,
  body: "Audio and video need transcriptions and/or captions. Keep an ear out for sounds that convey relevant information, and make sure they're included - not just the words."
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "Accessible content - form labels, instructions and errors",
  list: false,
  body: "Be very clear about what's expected of a user, and how errors should be resolved. A red asterisk appearing suddenly adjacent to an input isn't helpful to everyone."
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "Accessible content - beware things that look like text",
  list: false,
  body: "Be on the lookout for images with embedded text, or worse - OCR-resistant PDFs."
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "Accessible content - ASCII",
  list: false,
  body: [`Think about what this sounds like: ¯\\_(ツ)_/¯.`, `For the same reason, write "16 to 17 years old" instead of "16-17 years old".`]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "Accessible content - links",
  list: ["Don't say they're links - the screenreader tells you", "Don't capitalize - screenreaders will read them out letter by letter", "Don't make the link text the url", "Keep links short - screenreaders won't skip them.", "Identify link behaviour - i.e. downloads, new windows, anchor links", "Don't embed link types identifications in your CSS", "Don't abuse javascript to do link-ish things with elements that aren't links (anchors or area tags)", "If an image is inside an anchor tag, it's alt text should refer to the link behaviour, as well as the image's information.", "Empty or broken links are just mean."],
  body: "Via <a href='https://www.sitepoint.com/15-rules-making-accessible-links/' target='_blank'>sitepoint</a>"
}) %>

