---
title: The second week
layout: default
hasSlides: true
today:
  assorted:
    - Review
    - Discuss reading
    - Reviewing a test plan template
  theory:
    - End user
    - The open web
    - Subjectivity
    - Test script
  praxis:
    - Reviewing Krug
    - Auditing accessibility
---
<% const part = '../../../partials/'; %>
<%- include(`${part}today`) %>
<%- include(`${part}section`, {
  id: 'lastWeek',
  style: 'slide-only',
  headline: 'Last Week',
  body: false,
  list: ["Accessibility is a good idea, and also it's the law.", "Usability is not the same as a bunch of other stuff (but it's close)", "'Heuristic evaluation' is just a fancy way of saying 'checklist of good ideas'", "Personas and Scenarios are tools for usability design and evaluation", "Two kinds of data: quantitative and qualitative", "Basic accessibility is basic"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: 'slide-only',
  headline: 'What did you think of the reading?',
  body: false,
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'What goes into a test plan?',
  body: ["A test plan what you submit to get approval for the plan and/or buy-in from your team. You can always make adjustments to go above and beyond! Remember, qualitative data is exploratory.", "A comprehensive template is available at <a href='https://www.usability.gov/how-to-and-tools/resources/templates/usability-test-plan-template.html' target='_blank'>https://www.usability.gov/how-to-and-tools/resources/templates/usability-test-plan-template.html</a>"],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Test plan template - the basics',
  body: false,
  list: ["Objective/Scope/Questions: what are you going to accomplish? What are you NOT going to accomplish? What are you trying to find out in order to accomplish your objective?", "Participants: who is going to take the test (and why have you selected them)?", "Methods: how are you going to generate data to answer your questions?", "Metrics: how are you going to measure your data?"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Test plan template - not basic, but good to have',
  body: false,
  list: ["Executive summary: the whole plan, but in a couple paragraphs.", "Schedule and location", "Equipment", "Scenarios", "Roles: who's doing what?"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: 'slide-only',
  headline: 'Let`s break some of these down',
  body: false,
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Objective/Scope',
  body: ["You're probably not going to do a comprehensive usability test on a large website. You can test a set of features, or you can test for a set of issues. Define what these are and why you're addressing them."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Questions',
  body: ["Can users find <em>X</em>? Does <em>A</em> work better than <em>B</em>? Do users learn the interface in under <em>Y</em> amount of time?"],
  list: false
}) %>
<section>
  <div class="grid-x">
    <div class="cell large-6 large-offset-3 medium-10 medium-offset-1">
      <h3>Participants: Some magic numbers</h3>
      <p>Jakob Nielsen reports the ROI thresholds in different usability testing methods:</p>
      <table>
        <tr>
          <td>Quantitative</td>
          <td>>20</td>
        </tr>
        <tr>
          <td>Card sorting</td>
          <td>>15</td>
        </tr>
        <tr>
          <td>Eyetracking</td>
          <td>39</td>
        </tr>
        <tr>
          <td>Heuristics</td>
          <td>4 experts</td>
        </tr>
        <tr>
          <td><strong>Qualitative</strong></td>
          <td><strong>5</strong></td>
        </tr>
      </table>
    </div>
  </div>
</section>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Methods',
  body: ["Define your procedure, testing type, tools, and tasks.", "Testing type may be heuristics (don't forget to say <a href='http://www.wqusability.com/articles/getting-started.html' target='_blank'>which ones!</a>), eyetracking, discovery (finding problems), benchmark (evaluating solutions), moderated, remote, system usability scale (survey), 5-second, First-click, etc., etc., etc."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Metrics',
  body: ["What is the data you'll be collecting? How should it be measured? How can you be sure it fully answers your questions?", "This is probably the <strong>most important part of your plan</strong>."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Metrics - examples',
  body: ["<ul><li><strong>Successful Task Completion</strong></li><li><strong>Critical Errors</strong></li><li><strong>Non-Critical Errors</strong></li><li><strong>Error-Free Rate</strong> Error-free rate is the percentage of test participants who complete the task without any errors (critical or non-critical errors).</li><li><strong>Time On Task</strong></li><li><strong>Subjective Measures</strong> These evaluations are self-reported participant ratings for satisfaction, ease of use, ease of finding information, etc where participants rate the measure on a 5 to 7-point <a href='https://en.wikipedia.org/wiki/Likert_scale' target='_blank'>Likert scale</a>.</li><li><strong>Likes, Dislikes and Recommendations</strong> Participants provide what they liked most about the site, what they liked least about the site, and recommendations for improving the site.</li></ul>", "Source: <a href='https://www.usability.gov/how-to-and-tools/methods/planning-usability-testing.html' target='_blank'>https://www.usability.gov/how-to-and-tools/methods/planning-usability-testing.html</a>"],
  list: false
}) %>
<section>
  <div class="grid-x">
    <div class="cell large-6 large-offset-3 medium-10 medium-offset-1">
      <h3>Examples</h3>
      <ul>
        <li class="fragment"><a href="http://danielleklein.ca/wp-content/uploads/2016/08/Usability-test-plan-CSI.pdf" target="_blank">Centre for Social Innovation website</a></li>
        <li class="fragment"><a href="https://static1.squarespace.com/static/55c3cc6be4b0ae48388c8605/t/57706d692994cae381d96fb5/1466985833818/lmb_usability_test_plan.pdf" target="_blank">Mobile app test plan</a></li>
        <li class="fragment"><a href="http://booksite.mkp.com/barnum/testingessentials/pdfs/BWB_test_plan.pdf" target="_blank">Better World Books website</a></li>
        <li class="fragment">Bonus: <a href="https://medium.com/@userfocus/the-1-page-usability-test-plan-dbc8c3d7fb54" target="_blank">Cheat Sheet</a></li>
      </ul>
    </div>
  </div>
</section>
<%- include(`${part}section`, {
  id: false,
  style: 'slide-only',
  headline: 'An activity!',
  body: false,
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Who is the user?',
  body: ["You are in the strange position of making things that strangers will use. Some of these strangers may take it apart and put it back together. Some of these strangers will be malicious, some will be children, some will be clueless. Some of these strangers won't be human.", "SEO is just usability for bots. Design patterns, OOP and code comments are usability for other programmers (or yourself, later)."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'The internet is open',
  body: ["We work on an open platform. The beautiful thing about the internet is that it is a (nearly) global public space built on open access (e.g. Net Neutrality), standards and specifications. This comes with the responsibility, though, that you create services that are meant to be consumed by clients that haven't even been invented yet.", "You will work with (and by with, I mean for) people who do not understand the difference between accessing a pdf and opening a webpage.", "Having an open spec markup language is the backbone of the information age."],
  list: false
}) %>
<section>
  <div class="grid-x">
    <div class="cell large-6 large-offset-3 medium-10 medium-offset-1">
      <h3>Firefox gets most of their money from...</h3>
      <p class="fragment">Google</p>
      <h3 class="fragment">Wait, why?</h3>
      <p class="fragment">Google's business model depends on the open web. It has made a multi-billion dollar bet that the best place to be is not in a "walled garden", but as the concierge to the innovations afforded by a democratized space.</p>
    </div>
  </div>
</section>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'You will need to advocate for answering hard questions',
  body: ["For those people who do not understand HTML vs PDF, you will need to impress on them that the internet is a place with a multitude of users, and that's not changing anytime soon. You will need to advocate for creating a service rather than an interactive paper flyer.", "This distinction is important because it acknowledges your many types of end user - from the dev/content/QA team, to Google's web crawler, to hackers, to archive.org, to Pocket and Instapaper, to screen readers, to everybody."],
  list: false
}) %>
<section>
  <div class="grid-x">
    <div class="cell large-6 large-offset-3 medium-10 medium-offset-1">
      <h3>Users at cross-purposes</h3>
      <blockquote>I’m dyslexic, and one of the recommendations for reducing visual stress that I’ve found tremendously helpful is low contrast between text and background color. This, though, often means failing to meet accessibility requirements for people who are visually impaired... Consider:
        <ul>
          <li>Designing for one-handed mobile use raises problems because right-handedness is the default—but 10 percent of the population is left handed.</li>
          <li>Giving users a magnified detailed view on hover can create a mobile hover trap that obscures other content.</li>
          <li>Links must use something other than color to denote their “linkyness.” Underlines are used most often and are easily understood, but they can interfere with descenders and make it harder for people to recognize word shapes.</li>
        </ul>
        <br>
        <cite>Eleanor Ratliff, <a href="http://alistapart.com/article/accessibility-whack-a-mole" target="_blank">http://alistapart.com/article/accessibility-whack-a-mole</a></cite>
      </blockquote>
    </div>
  </div>
</section>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Your job is not to write code - it is to solve problems',
  body: ["All the easy code has been written already. Don't worry, there are (for the time being), still plenty of jobs writing boring code. But that is less true than it was ten years ago, and will be less true in another ten. You need to think of yourself as someone who can solve the problem of 'How can we best make this work for everyone who needs it?'", "Last week we contrasted accessibility with usability by saying that usability is accessibility for a set audience, but accessibility legislation still limits that audience by defining it. You should always be open to expanding your definition of the end user."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Youtube stumbled on an audience',
  body: ["A few years ago, the Youtube dev team gave themselves a page-weight budget of 800kb. They optimized every conceivable aspect of the site. They predicted that they could get the average load time below 1s. When they released their new, lightning fast code, their average load times tripled.", "There were millions of users in the global south who suddenly were able to watch videos without the page timing out. The team had stumbled onto a massive audience they didn't know they had simply by taking best practices seriously.", "Do what you can for those you're aware of, and keep looking for those you aren't."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "You are biased (don't worry, everybody is)",
  body: ["You are not aware of everyone, and worse yet, you are not aware of yourself. You are not objective. That's ok.", "<a href='https://vtechworks.lib.vt.edu/handle/10919/26477' target='_blank'>In “Usability Problem Description and the Evaluator Effect in Usability Testing”</a> a study by Miranda G. Capra at Virginia Tech, she found that 44 usability practitioners’ evaluations reported problems that overlapped by only 22 percent.", "Confirmation bias is likely going to be your biggest issue to watch out for, in yourself and other members of your team. It can occur in planning (how you phrase your questions), testing (how you interact with a subject), and analysis (how you interpret the data)."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "You are less biased when you work together",
  body: ["Capra found that '[a]dding a second evaluator results in a 30-43% increase in problem detection'.", "<span class='slide-only fragment'>Your assignments are not group work, but your results will be better if you trade responsibilities.</span>"],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "You are less biased when you stick to the script",
  body: ["A key reason we write our test plan is for transparency. We need to make our work reviewable so that our unconscious biases can be recognized. The more we can script, the better.", "Steve Krug is one of the big names in usability, and he has given us a wonderful sample script to work from. Let`s take a look at it: <a href='https://www.sensible.com/downloads/test-script.pdf' target='_blank'>https://www.sensible.com/downloads/test-script.pdf</a>."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: "Auditing accessibility",
  body: ["The W3 provide us with a wonderful list of different accessibility auditing tools, in a wide variety of languages: <a href='https://www.w3.org/WAI/ER/tools/?q=command-line-tool' target='_blank'>https://www.w3.org/WAI/ER/tools/?q=command-line-tool</a>.", "The most commonly used one is the <a href='http://wave.webaim.org/extension/' target='_blank'>WAVE Browser extension</a>", "Chrome also has an accessibility audit built in. Go to the devtools > audits > Perform an audit and deselect everything except 'Accessibility'.", "Using either of these tools, run an audit and raise your hand when you find something you don't understand."],
  list: false
}) %>


